@{
    ViewData["Title"] = "Home Page";
}
@model ResultListModel

<div class="row">
    <div class="col-md">
        <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Datasets
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                @foreach (var datasetName in Model.DatasetNames)
                {
                    <a class="dropdown-item"
                       asp-controller="Home"
                       asp-action="Index" asp-route-datasetName="@datasetName">@datasetName</a>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md">
        <p>Showing top @Model.PersonList.Count() people from @Model.DatasetName.</p>
    </div>
</div>
<div class="row">
    <div class="col-md">
        <table class="table">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Known For</th>
                <th scope="col">Birth Date</th>
                <th scope="col">Age</th>
            </tr>
            @foreach (var person in Model.PersonList)
            {
                <tr>
                    <td>
                        @if (person.Url != null)
                        {
                            <a href="@person.Url">@person.Title</a>
                        }
                        else
                        {
                            @person.Title
                        }
                    </td>
                    <td>@person.Description</td>
                    <td>@person.KnownFor</td>
                    <td>@person.BirthDate.ToShortDateString()</td>
                    <td>@person.Age</td>
                </tr>
            }
        </table>
    </div>
</div>
