@{
    ViewData["Title"] = "Home Page";
}
@model ResultListModel

<div class="row">
    <div class="col-md">
        <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Datasets
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                @foreach (var datasetName in Model.DatasetNames)
                {
                    <a class="dropdown-item"
                       asp-controller="Home"
                       asp-action="Index" asp-route-datasetName="@datasetName">@datasetName</a>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md">
        @foreach (int year in Enumerable.Range(1990, 30))
        {
            <a asp-controller="Home"
               asp-action="Index"
               asp-route-deathYear="@year"
               asp-route-datasetName="@Model.DatasetName">@year</a>
            @Html.Raw("&nbsp");
        }
        <a asp-controller="Home"
           asp-action="Index"
           asp-route-datasetName="@Model.DatasetName">The Living</a>
    </div>
</div>
<div class="row">
    <div class="col-md">
        <p>Showing top @Model.PersonList.Count() people from @Model.DatasetName.</p>
    </div>
</div>
<div class="row">
    <div class="col-md">
        <table class="table">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Known For</th>
                <th class="d-none d-sm-table-cell" scope="col">Birth Date</th>
                <th scope="col">Age</th>
            </tr>
            @foreach (var person in Model.PersonList)
            {
                <tr>
                    <td>
                        @if (person.ImdbUrl != null)
                        {
                            <a href="@person.ImdbUrl">@person.Title</a>
                        }
                        else
                        {
                            @person.Title
                        }
                    </td>
                    <td>@person.KnownFor</td>
                    <td class="d-none d-sm-table-cell">@person.BirthDate.ToString("dd/MM/yyyy")</td>
                    <td>@person.Age</td>
                </tr>
            }
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination flex-wrap">
                @if (Model.Page > 1)
                {
                    <li class="page-item">
                        <a class="page-link"
                           asp-controller="Home"
                           asp-action="Index"
                           asp-route-deathYear="@Model.DeathYear"
                           asp-route-datasetName="@Model.DatasetName"
                           asp-route-page="@(Model.Page - 1)">Previous</a>
                    </li>
                }
                else
                {
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                }
                @foreach (int i in Enumerable.Range(1, Model.TotalPages))
                {
                    if (i == Model.Page)
                    {
                        <li class="page-item active">
                            <a class="page-link"
                               asp-controller="Home"
                               asp-action="Index"
                               asp-route-deathYear="@Model.DeathYear"
                               asp-route-datasetName="@Model.DatasetName"
                               asp-route-page="@i">@i</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link"
                               asp-controller="Home"
                               asp-action="Index"
                               asp-route-deathYear="@Model.DeathYear"
                               asp-route-datasetName="@Model.DatasetName"
                               asp-route-page="@i">@i</a>
                        </li>
                    }
                }
                @if (Model.Page < Model.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link"
                           asp-controller="Home"
                           asp-action="Index"
                           asp-route-deathYear="@Model.DeathYear"
                           asp-route-datasetName="@Model.DatasetName"
                           asp-route-page="@(Model.Page + 1)">Next</a>
                    </li>
                }
                else
                {
                    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                }
            </ul>
        </nav>
    </div>
</div>
